@import '../../styles/styles.scss';

.button {
  font-family: $f-first;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 16px;

  &--primary {
    color: #ff9c19;
    background-color: transparent;
  }
  &--secondary {
    color: #fff;
    background: transparent linear-gradient(114deg,#009af0,#1483c1) 0 0 no-repeat padding-box;
    border-radius: 20px;
    padding: 4px 10px;
    display: block;
    margin-left: 20px;
  }
  &--avatar {
    text-transform: uppercase;
    font-weight: 500;
    background-color: #009af0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu-Medium';
    font-size: 24px;
    color: #fff;
    margin-left: 10px;
  }
  &--large {
    font-size: 16px;
    padding: 12px 24px;
  }
}
