@import url('../../index.scss');

.button {
  font-family: 'Ubuntu-MediumItalic';
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 16px;

  &--primary {
    color: #ff9c19;
    background-color: transparent;
  }
  &--secondary {
    color: #fff;
    background: transparent linear-gradient(114deg,#009af0,#1483c1) 0 0 no-repeat padding-box;
    border-radius: 20px;
    padding: 4px 10px;
    display: block;
    margin-left: 20px;
  }
  &--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  &--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  &--large {
    font-size: 16px;
    padding: 12px 24px;
  }
}
