@font-face {
  font-family: "Ubuntu-MediumItalic";
  font-weight: normal;
  font-style: italic;
  src: url('../assets/fonts/Ubuntu-MediumItalic.ttf');
}

@font-face {
  font-family: "Ubuntu-Medium";
  font-weight: normal;
  font-style: medium;
  src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: "Ubuntu-LightItalic";
  font-weight: normal;
  font-style: italic;
  src: url('../assets/fonts/Ubuntu-LightItalic.ttf');
}

@font-face {
  font-family: "Ubuntu-Light";
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Ubuntu-Light.ttf');
}
