// Primary Typography - Ubuntu-MediumItalic
@font-face {
  font-family: "Ubuntu-MediumItalic";
  src: url(../assets/fonts/Ubuntu-MediumItalic.ttf) format("ttf");
  font-weight: 500;
  font-style: medium;
  font-display: block;
}
