@import '../../styles/styles.scss';

.wrapper {
  display: none;
  
  @include xl {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding: 0 65px;
  }

  &__menu {
    font-family: $f-first;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &__item {
      margin: 0 10px;
      font-size: 18px;
      color: #353a3d;
      cursor: pointer;
    }
  }
  
  &__buttons-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;

    &__onLogin {
      display: flex;
      justify-content: center;
      align-items: center;

      &--username {
        font-family: $f-first;
        font-size: 16px;
        color: #353a3d;
        max-width: 120px;
        font-weight: normal;
      }
    }

  }

  &__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    @include xl {
      display: none;
    }

    &__title {
      font-size: 20px;
      font-family: $f-first;
      color: #353a3d;
      font-weight: 600;
    }

    &__options {
      display: flex;
      justify-content: flex-end;
    }
  }
}
