@import url('../../index.scss');

.wrapper {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    padding: 0 65px;
  }

  &__menu {
    font-family: "Ubuntu-MediumItalic";
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &__item {
      margin: 0 10px;
      font-size: 18px;
      color: #353a3d;
      cursor: pointer;
    }
  }

  &__buttons-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
  }
}

svg {
  display: inline-block;
  vertical-align: top;
}
